@model Hubert_Michna_w67259.Models.Wydatek

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Wydatek</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nazwa_Wydatku).Replace("_", " ")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nazwa_Wydatku)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Typ_Wydatku_ID).Replace("_", " ")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Typ_Wydatku_ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cena).Replace("_", " ")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cena)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data_Wydatku).Replace("_", " ")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data_Wydatku)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Waluta).Replace("_", " ")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Waluta)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
